@import 'vars';
@import 'typography';

html {
  overflow: hidden;
  height: 100vh;
}

body {
  font-family: "Helvetica Neue",Verdana,Helvetica,Arial,sans-serif;
  color: $font-color--dark;
  background-color: $background--light;
}

img {
  display: block;
  max-width: 95%;
  max-height: 55vh;
  margin: auto;
  padding: 8px;
}

h1 {
  font-size: 1.2em;
  font-weight: bold;
  margin: 2px 0;
}

h2 {
  font-size: 1.1em;
  font-weight: bold;
  margin: 2px 0;
}

.verse {
  padding: 0 4px 0 0;
  height: 38vh;
  overflow: auto;
}

.rtl {
  direction: rtl;
}

.more {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 1.2em;
  padding: 12px;
  background-color: #2196F3;
  color: #fff;
  border: 1px solid transparent;
  transition: background-color .25s, border .25s;

  &:hover {
    background-color: #42A5F5;
    border: 1px solid #64B5F6;
  }

  &:active {
    background-color: #64B5F6;
    border: 1px solid #90CAF9;
  }
}
